$purple-color: #9e005cce;
$white-color: #fff;
.relatiive{
  position: relative;
}
.noOutline{
  outline: none;
}
.borRad5{
  border-radius: 5px;
}
.bgTrans{
  background-color: transparent;
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
}

.App-header {
  background-color: #7a4c17;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.todoDiv{
  background-color: rgba(0, 0, 0, 0.692);
  min-height: 100vh;
}
.contentBgDiv{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  // background-image: 
  background-repeat: no-repeat;
}
.contentDiv{
  margin: 0px;
}
.optionsDiv{
  
}
.actionDiv{
  margin: 2rem 0rem;
}
.headerDiv{
  margin: 0px 0px;
  padding: 50px 0px;
  background-color: $purple-color;
}
.header{
  color: $white-color;
  font-size: 40px;
  font-weight: bold;
  text-shadow:  0px 0px 6px $white-color;
}
.subheader{
  color: $white-color;
  opacity: .8;
  font-size: 12px;
}
.optionDiv{
  margin: 25px 0px;
}
.optionDiv p ,.optionDiv button{
  display: inline;
}
.addingDiv{
  display: flex;
  margin: 30px 0px;
}
.inputField{
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  color: $white-color; 
}
.inputField::placeholder{
  color: $white-color;
  opacity: .6;
}
.addButton{
  width: 30%;
  color: $white-color;
  margin-left: 10px;
  margin-right: 10px;
}
.resetButton{
  width: 50%;
  color: $white-color;
  font-size: 20px;
}
.singleDeleteButton{
  width: 20%;
  float: right;
  color: $white-color;
  margin-left: 10px;
  margin-right: 10px;
}
.singleOptionP{
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  color: $white-color;
}
.optionsHeader{
  color: $white-color;
}